# General tasks and directions

- Add your name, today's date, and the assignment title to the designated cell.
- Write your answers in the cells that contain `Add your answer here.` line.
- Write your code in the cells that contain `# Add your implementation here.` line.
- Use autograder tests that are provided for your convenience.
- Don't change or delete any provided code (including [cell magic](https://ipython.readthedocs.io/en/stable/interactive/magics.html) such as `%%capture output`).

Add your answer here.

Name: Muhammad Mughees Akbar Warraich
Date: 14 March 2023

# Airline tweets

*Using `pandas` to clean data*.

This assignment is individual and you agree to submit your own work.

In [302]:
import numpy as np
import pandas as pd

total_points = 0
task_points = 5

## Task 1

Read airline sentiment analysis tweets from the provided file *airline_tweets.csv*.

In [303]:
# Add your implementation here.
df = pd.read_csv("airline_tweets.csv")

In [304]:
# This cell is provided for your convenience to view the initial data status
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [305]:
df

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [306]:
assert df.shape == (14640, 15)
total_points += task_points

In [307]:
assert list(df.columns) == ['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
                           'negativereason', 'negativereason_confidence', 'airline',
                           'airline_sentiment_gold', 'name', 'negativereason_gold',
                           'retweet_count', 'text', 'tweet_coord', 'tweet_created',
                           'tweet_location', 'user_timezone']
total_points += task_points

## Task 2

Remove columns where more than one third (`33%`) of the values are missing.
You must do that programmatically, not hard-coding the column names.

In [308]:
# Add your implementation here.
df.dropna(thresh=9759,axis="columns",inplace=True)

In [309]:
assert df.shape == (14640, 11)
total_points += task_points

In [310]:
assert list(df.columns) == ['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
                           'negativereason_confidence', 'airline', 'name', 'retweet_count',
                            'text', 'tweet_created', 'tweet_location', 'user_timezone']
total_points += task_points

## Task 3

Remove duplicate rows and rows with more than `2` missing values.

In [311]:
# Add your implementation here.
df.drop_duplicates(inplace= True)

In [312]:
df.dropna(thresh=9,axis=0,inplace=True)

In [313]:
df.shape

(13980, 11)

In [314]:
assert df.shape == (13980, 11)
total_points += task_points

In [315]:
assert not (df.isna().sum(axis=1) > 2).any()
total_points += task_points

## Task 4

Impute missing values in the columns as follows:

- negativereason_confidence: the median value of the column
- tweet_location: "Decorah, IA"
- user_timezone: the most common value of the column

In [316]:
# Add your implementation here.

df.tweet_location.fillna("Decorah, IA",inplace=True)

In [317]:
median_value = df["negativereason_confidence"].median()
df["negativereason_confidence"].fillna(median_value, inplace=True)

In [318]:
common = df['user_timezone'].value_counts().idxmax()

In [319]:
common

'Eastern Time (US & Canada)'

In [320]:
df.user_timezone.fillna(common,inplace=True)

In [321]:
assert abs(df.negativereason_confidence.mean() - 0.645769) < 0.001
total_points += task_points

In [322]:
assert f"{df.tweet_location.mode().iloc[0]} ({df.user_timezone.mode().iloc[0]})" == \
                "Decorah, IA (Eastern Time (US & Canada))"
total_points += task_points

## Task 5

Set the data types of the columns as follows:

| column                       | data type                      |
|------------------------------|--------------------------------|
| tweet_id                     | built-in 64-bit integer        |
| airline_sentiment            | `pandas` categorical           |
| airline_sentiment_confidence | built-in 64-bit floating-point |
| negativereason_confidence    | built-in 64-bit floating-point |
| airline                      | `pandas` string                |
| name                         | `pandas` string                |
| retweet_count                | built-in 64-bit integer        |
| text                         | `pandas` string                |
| tweet_created                | `pandas` datetime (UTC)        |
| tweet_location               | `pandas` string                |
| user_timezone                | `pandas` categorical           |

In [323]:
# Add your implementation here.
df = df.astype({"tweet_id": int, "airline_sentiment": ('category'),"airline_sentiment_confidence": float})
df = df.astype({"negativereason_confidence": float,"airline": ('string'), "name": ('string'),"retweet_count": int})
df = df.astype({"text": ('string'), "tweet_created":('datetime64[ns, UTC]') ,"tweet_location": ('string'), "user_timezone":('category')})

In [324]:
df.dtypes

tweet_id                                      int64
airline_sentiment                          category
airline_sentiment_confidence                float64
negativereason_confidence                   float64
airline                                      string
name                                         string
retweet_count                                 int64
text                                         string
tweet_created                   datetime64[ns, UTC]
tweet_location                               string
user_timezone                              category
dtype: object

In [325]:
assert df.shape == (13980, 11)
total_points += task_points

In [326]:
assert list(df.dtypes) == ["int64", "category", "float64", "float64",
                           "string", "string", "int64", "string",
                           "datetime64[ns, UTC]", "string", "category"]
total_points += task_points

In [327]:
# This cell is provided for your convenience to view the result
# All 11 columns must have 13980 non-null values and proper data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13980 entries, 0 to 14639
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      13980 non-null  int64
 1   airline_sentiment             13980 non-null  category
 2   airline_sentiment_confidence  13980 non-null  float64
 3   negativereason_confidence     13980 non-null  float64
 4   airline                       13980 non-null  string
 5   name                          13980 non-null  string
 6   retweet_count                 13980 non-null  int64
 7   text                          13980 non-null  string
 8   tweet_created                 13980 non-null  datetime64[ns, UTC]
 9   tweet_location                13980 non-null  string
 10  user_timezone                 13980 non-null  category
dtypes: category(2), datetime64[ns, UTC](1), float64(2), int64(2), string(4)
memory usage: 1.1 MB

In [328]:
print(f"Total points: {total_points}/50.")

Total points: 50/50.

## Submission Checklist

- [ ] Your name, today's date, and the assignment title in the designated cell.
- [ ] Your answers in the designated cells (if required).
- [ ] Your code runs and produces the expected output.
- [ ] The validity of your code is verified by autograders (if provided).
- [ ] Restart the kernel and run all cells (in the menubar, select *Kernel*, then *Restart Kernel and Run All Cells*).
- [ ] Save the notebook.
- [ ] Submit the assignment.